# Introduction

## API Key Setup

 - Some endpoints will require an API Key.
 - User can generate API Key by Signing up to <a href="https://synchrobit.io/">Synchrobit Website</a>
 - Once the user signed up, then clicking on the setting dropdown and choose  API management.
 - From API management, user can generate an API key.
 - **Never share your API key/secret key to ANYONE.**
 - All time and timestamp related fields are in milliseconds.


## API Key Restrictions

  - After creating the API key, the default restrictions set will be to enable trade, allowing to make orders on the API.


## Postman Collections

 There is now a Postman collection containing the API endpoints for quick and easy use.

 This is recommended for new users who want to get a quick-start into using the API.

 For more information please refer to this page: <a href="https://documenter.getpostman.com/view/10542928/T1DqhdBY">Synchrobit API's Postman Collection</a>
