# Introduction

## API Key Setup

 - Some endpoints will require an API Key.
 - User can generate API Key by Signing up to <a href="https://synchrobit.io/">Synchrobit Website</a>
 - Once the user signed up, then clicking on the setting dropdown and choose  API management.
 - From API management, user can generate an API key.
 - **Never share your API key/secret key to ANYONE.**
 - All time and timestamp related fields are in milliseconds.


## API Key Restrictions

  - After creating the API key, the default restrictions set will be to enable trade, allowing to make orders on the API.


